@import 'tailwindcss';

@theme {
  --color-bg-bottom: hsl(222, 15%, 13%);
  --color-bg-top: hsl(216, 10%, 20%);
  --color-dark-border: hsl(218, 5%, 12%);

  /* base background colors */
  --color-night-top: hsl(242, 18%, 34%);
  --color-night-bottom: hsl(255, 34%, 21%);
  --color-day-bottom: hsl(29, 100%, 75%);
  --color-day-top: hsl(17, 89%, 76%);

  --color-moon: hsl(46, 100%, 97%);
  --color-sun: hsl(60, 22%, 90%);
  --color-night-mountain-1: hsl(240, 20%, 17%);
  --color-night-mountain-2: hsl(244, 18%, 20%);
  --color-night-mountain-3: hsl(245, 17%, 25%);
  --color-night-mountain-4: hsl(243, 15%, 29%);
  --color-day-mountain-1: hsl(345, 49%, 44%);
  --color-day-mountain-2: hsl(4, 73%, 63%);
  --color-day-mountain-3: hsl(14, 100%, 67%);
  --color-day-mountain-4: hsl(28, 93%, 62%);

  --shadow-glow: 10px 10px 20px 10px rgba(0, 0, 0, 0.148);
  --shadow-multiple: 0px 0px 0.1em 1.8em rgba(255, 255, 255, 0.06),
    0px 0px 0.1em 3.5em rgba(255, 255, 255, 0.03),
    0px 0px 0.1em 5.2em rgba(255, 255, 255, 0.015);
  --shadow-groove: 0px 0px 0px 0.12em rgba(0, 0, 0, 0.1);
}
