@import 'tailwindcss';

@theme {
  --color-bg-bottom: hsl(222, 15%, 13%);
  --color-bg-top: hsl(216, 10%, 20%);
  --color-dark-border: hsl(218, 5%, 12%);

  /* base background colors */
  --color-night-top: hsl(228, 52%, 37%);
  --color-night-bottom: hsl(255, 48%, 68%);

  --color-day-bottom: hsl(208, 100%, 97%);
  --color-day-top: hsl(200, 100%, 82%);

  --color-moon: hsl(244, 100%, 97%);
  --color-sun: hsl(56, 89%, 86%);
  --color-night-mountain-1: hsl(236, 38%, 29%);
  --color-night-mountain-2: hsl(236, 40%, 39%);
  --color-night-mountain-3: hsl(227, 39%, 49%);
  --color-night-mountain-4: hsl(230, 41%, 59%);
  --color-day-mountain-1: hsl(205, 65%, 28%);
  --color-day-mountain-2: hsl(205, 60%, 35%);
  --color-day-mountain-3: hsl(198, 46%, 48%);
  --color-day-mountain-4: hsl(198, 63%, 67%);

  --shadow-glow: 10px 10px 20px 10px rgba(0, 0, 0, 0.148);
  --shadow-multiple: 0px 0px 0.1em 1.8em rgba(255, 255, 255, 0.06),
    0px 0px 0.1em 3.5em rgba(255, 255, 255, 0.03),
    0px 0px 0.1em 5.2em rgba(255, 255, 255, 0.015);
  --shadow-groove: 0px 0px 0px 0.12em rgba(0, 0, 0, 0.1);
}
